.badge-pill{
  margin: 20px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  display: auto;
 }
 .badge-pill{
    margin: 20px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  font-family: 'Roboto Condensed', sans-serif;
  display: auto;
 }